[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "==4.0.*"
pylint = "==3.0.*"
pytest = "==6.2.*"
pytest-mock = "==3.7.*"

[scripts]
test='python -m pytest tests'

[requires]
python_version = "3.10"
